@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25282A;
}

.container {
    background: url("/logo.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 170%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 80%;
    max-width: 90%;
    
    border: 6px solid #dde5ed;
    border-radius: 10px;
    
    font-size: 20px;
    color: #dde5ed;
    
    margin: 10px;
    padding: 4% 10% 4% 10%;
}

h1#title {
    margin-bottom: 50px;
    font-size: 50px;
}

p {
    font-size: 20px;
    text-align:center;
}

input#function_input {
    position: relative;
    margin: auto;

    height: 70px;
    width: 100%;

    font-size: 24px;
    background-color: #25282A;
    border: 3px solid #dde5ed;
    color: #dde5ed;
    border-radius: 30px;
    text-align: center;
    outline: 0;
    padding: 15px;
    margin: 60px 0 0 0;
}

input::placeholder{
    color: #dde5ed;
    font-size: 100%;
}


table, th, td {
    border: 2px solid #dde5ed;
    border-collapse: collapse;
    padding: 10px 10px;
}

#truthTable {
    margin: 50px;
    text-align: center;
}

.clipboard_copy {
    align-items: center;
    justify-content: center;
}

#copy_button {
    border-radius: 30px;
    height: 80px;
    border: 3px solid #dde5ed;
    margin: 25px 0 50px 0;
    width: 40%;
    color: #dde5ed;
    background-color: #25282A;
    outline: 0;
    font-size: 18px;
    padding: auto;
    transition: 0s;
}

#copy_button:hover {
    background-color: #9D2235;
}

#copy_button:active {
    background-color: #25282A;
}

.table_content {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 3px solid #dde5ed;
    border-radius: 10px;
    padding: 10px; 
}

/* Tudo o que estiver abaixo do max-width será aplicado */
@media (max-width: 600px) {
    input::placeholder{
        font-size: 80%;
    }
}